!.github/*
*.webm
v1_archive/
*.exe

dotfiles/hypr/memos.sh

# powertoys :(
dotfiles/PowerToys/**/*log_*.*
dotfiles/PowerToys/**/Logs/
dotfiles/PowerToys/**/**/Logs/

dotfiles/PowerToys/FancyZones/app-zone-history.json
dotfiles/PowerToys/FancyZones/applied-layouts.json

dotfiles/PowerToys/PowerToys Run/Settings/QueryHistory.json
dotfiles/PowerToys/PowerToys Run/Settings/UserSelectedRecord.json
dotfiles/PowerToys/PowerToys Run/Settings/ImageCache.json

dotfiles/PowerToys/PowerToys Run/Settings.json
dotfiles/PowerToys/PowerToys Run/Settings/

dotfiles/PowerToys/UpdateState.json
dotfiles/PowerToys/settings-telemetry.json

# firefox
dotfiles/.mozilla
# !dotfiles/.mozilla/firefox/profiles.ini
# !dotfiles/.mozilla/firefox/installs.ini
# !dotfiles/.mozilla/firefox/nbtpj0wp.default-release/prefs.js
