!.github/*
*.webm
v1_archive/
*.exe

#powertoys :(
dotfiles/PowerToys/**/*log_*.*
dotfiles/PowerToys/**/Logs/
dotfiles/PowerToys/**/**/Logs/

dotfiles/PowerToys/FancyZones/app-zone-history.json
dotfiles/PowerToys/FancyZones/applied-layouts.json