* {
	font-family: JetBrainsMono Nerd FOnt;
	font-size: 14px;
	font-weight: 900;
}

window#waybar {
	background-color: rgba(68, 80, 80, 0.5);
	/* color: #ffffff; */
	transition-property: background-color;
	transition-duration: .5s;
	border-radius: 10px;
}

#clock,
#custom-power-menu {
	color: #ffffff;
}
